// LoginForm-Colors
:root {
    // Font Family
    --ff: Georgia, 'Times New Roman', Times, serif;
    --normal-fs: 16px;
    --smaller-fs: 14px;
    /* Colors: */
    --white-clr-300: #f6f5fc;
    --white-clr-200: #feffff;
    --white-400-clr: #eff2fc;
    --purple-clr: #6833a6;
    --darkPurple-100: #a81e96;
    --darkTeal-clr: #00bdc5;
    --blue-clr: #2e65ad;
    --darkGray-clr-: #50259c00;
    --darkPurple-400: #5e0c96;
    --periwinkle-clr: #7986cb;
    --darkPurple-500: #280065;
    --darkBlue-clr: #33558b;
    --iceBlue-clr: #cec4e4;
    --darkPurple-600: #370f74;
    --brown-clr: #474033;
    --black-clr: #000000;
    --lightGray-clr: #bfbfbf;
    --white-clr: #ffffff;
    --white-clr-100: #f8f8f8;
    --darkOrange-clr: #f06e1e;
    --darkPurple-300: #60288c;
    --lightOrange-clr: #f2921c;
    --lightRed-clr: #ee4621;
    --darkPurple-200: #95228a;
}
